#flash-message {
    top: 5%;
    position: absolute;
    right: 5%;
    z-index: 10;
    animation: flash-message 8s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}